body {
    margin: 0;
    background-color: #1B1B1B;
}


/* Header */

.headContainer {
    background: rgb(93,224,230);
    background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(93,224,230,1) 34%, rgba(36,132,195,1) 80%, rgba(0,74,173,1) 100%);
    width: 100%;
    height: 75vh;
    box-sizing: border-box;
}

.h1HeadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;

}

.h1Title {
    color: whitesmoke;
    font-weight: 800;
    font-size: 50px;
    font-family: 'Roboto';
    font-style: italic;
    line-height: 1;
    z-index: 0;
}

.imageHead {
    margin-left: -150px;
}


/* Boxes container */
/* .containerBoxes {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}


.box1, .box2 {
    width: 580px;
    height: 416px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.2);
    background-color: #57D978;

    margin: 0 20px;


    transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    transition-delay: 0.2s;
}

.box2 {
    background: linear-gradient(144deg, #57D978 0%, #57D978 40%, rgba(255,222,89,1) 80%, rgba(255,222,89,1) 100%);
}

.box1Title, .box2Title {
    color: black;
    font-weight: 800;
    font-size: 35px;
    font-family: 'Roboto';
    margin-top: 25px;
}


.box1:hover, .box2:hover {
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.3);
}

.box2:hover {
    background-color: #63de7e;
    ;
}

.box2:hover {
    background: linear-gradient(144deg, #63de7e 0%, #63de7e 40%, rgba(255,230,100,1) 80%, rgba(255,230,100,1) 100%);
} */



/* why us container */
/* 
.headerWhyUs {
    color: azure;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    font-family: 'Roboto';
    font-weight: 800;
    font-style: italic ;
    font-size: 50px;
}


.containerBoxesWhyUs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.box1WhyUs, .box2WhyUs {
    width: 580px;
    height: 376px;
    border-radius: 20px;

    display: flex;
    justify-content: center;

    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.1);
    background: #212121;

    margin: 0 20px;

}



.box1TitleWhyUs, .box2TitleWhyUs {
    color: whitesmoke;
    font-weight: 800;
    font-size: 35px;
    font-family: 'Roboto';
    margin-top: 25px;
}
 */



.containerPortfolio {
    display: flex;
    justify-content: center;
    align-self: center;

}

.containerBackgroundPortfolio {
    width: 1560px;
    height: 2000px;
    border-radius: 20px;

    

    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.2);
    background-color: #292929;

    margin: -100px 0px;


    transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    transition-delay: 0.1s;
}




.containerButtonsPortfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
 

}

.containerButtonsPortfolio li {
    color: white;
    font-family: 'roboto';
    font-weight: 600;
    font-style: italic;
    font-size: 22px;

    padding: 20px;
    width: 500px;
    border-radius: 20px;
    background-color: rgb(85, 85, 85);
    margin: 5px 0px;
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-content: center;

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

/* 
    border-style: solid;
    border-color: rgb(93,224,230);
    border-width: medium; */


}


.containerButtonsPortfolio li:hover {
    background-color: rgb(89, 89, 89);
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.3);

}
